{% extends "base.html" %}

{% block fastqInput %}
          <div id = "sampleID" style = "margin-left: 10%; margin-bottom: 10%">
                <h4> STEP 1 : Sample ID </h4>
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name = "my_file" value = "">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
          </div>
{% endblock %}

{% block referenceInput %}
          <div id = "reference" style = "margin-left: 10%; margin-bottom: 10%">
                <h4> STEP 2 : Reference </h4>
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name = "reference_file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
          </div>
{% endblock %}

{% block percentThreshInput %}3{% endblock %}
