{% extends "base.html" %}

{% block fastqInput %}
          <div id = "sampleID" style = "margin-left: 10%; margin-bottom: 10%">
                <h4> Sample ID </h4>
                      <h6> Pro4_Sub80 </h6>
                      <hr>

                    </div>
{% endblock %}

{% block referenceInput %}
          <div id = "reference" style = "margin-left: 10%; margin-bottom: 10%">
                <h4> Reference</h4>
                    <h6> HXB2 </h6>
                    <hr>
        </div>
{% endblock %}

{% block percentThreshInput %}10{% endblock %}
